.gradeInput {
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  #subject {
    background-color: #26a58a;
  }

  .avgInput {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: calc(100% / 3);
    height: 100%;
    color: white;

    #line {
      background: linear-gradient(
        to bottom left,
        #227664 calc(50% - 2px),
        #cccccc,
        #227664 calc(50% + 2px)
      );
    }

    #number {
      background-color: #17886f;
    }

    #avgInputInnerConer {
      background-color: #17886f;
      border-radius: 0 1rem 0 0;
    }

    .avgInputInner {
      width: 100%;
      height: calc(100% / 6);
      border: 1px solid #bbbbbb;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;

      .numbersInput {
        width: 90%;
        height: 95%;
        font-size: 1.5rem;
        text-align: center;
        border: none;
        outline: none;
        font-weight: bold;
      }

      .scoreInput {
        width: 90%;
        height: 95%;
        font-size: 1.5rem;
        text-align: center;
        border: none;
        outline: none;
        font-weight: bold;
      }
    }
  }
}
