@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

$main-font-color: white;
$main-outer-background-color: linear-gradient(
  90deg,
  rgba(205, 87, 156) 0%,
  rgba(108, 55, 107) 30%,
  rgba(108, 55, 107) 50%,
  rgba(86, 157, 189) 100%
);
$main-inner-background-color: black;
$main-button-color: linear-gradient(
  -90deg,
  rgba(205, 87, 156) 0%,
  rgba(108, 55, 107) 30%,
  rgba(108, 55, 107) 50%,
  rgba(86, 157, 189) 100%
);
$main-button-reverse-color: linear-gradient(
  -90deg,
  rgba(86, 157, 189) 0%,
  rgba(108, 55, 107) 30%,
  rgba(108, 55, 107) 50%,
  rgba(205, 87, 156) 100%
);
$accent-color: rgb(88, 215, 231);
$secondary-color: rgb(255, 87, 171);
$sex-jonghab-color: rgb(237, 81, 159);
$black-color: rgb(34, 34, 34);
