.form {
  .formWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 60vw;
    height: 55vh;
    min-width: 650px;
    max-width: 800px;
    max-height: 450px;

    .inputWrap {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin-top: 30px;

      .avgGpa {
        width: 300px;
        margin-top: 15px;
      }

      .college {
        margin-top: 15px;
      }

      .major {
        margin-top: 15px;
      }
    }
  }

  /* SUBMIT button */
  .css-1e6y48t-MuiButtonBase-root-MuiButton-root,
  .submitButton {
    padding: 10px 88px 8px !important;
    font-size: 1rem !important;
    background: #26a58a !important;
    color: white !important;
    padding: 10px 0 8px !important;
    margin: 30px auto !important;
    border-radius: 0.7rem !important;
    font-size: 1.3rem !important;
    font-family: RixYeoljeongdo_Regular !important;
    width: 180px;
  }
}

/* Mobile */
@media screen and (max-width: 750px) {
  .form {
    ::-webkit-scrollbar {
      width: 2px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #26a58a;
    }

    .formWrap {
      position: relative;
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 290px;
      min-width: 0px;
      height: 70vh;
      max-height: 450px;
      justify-content: space-between;
      overflow-y: scroll;

      .inputWrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .avgGpa {
          display: inline-flex;
          flex-direction: column;
          margin: 15px auto !important;
          width: 250px;
        }
      }

      .inputWrap {
        .college {
          display: inline-flex;
          flex-direction: column;
          margin: 15px auto !important;
          width: 250px;
        }

        .major {
          display: inline-flex;
          flex-direction: column;
          margin: 15px auto !important;
          width: 250px;
        }
      }
    }

    .css-1e6y48t-MuiButtonBase-root-MuiButton-root,
    .submitButton {
      margin: 5px auto !important;
      padding: 10px 88px 8px !important;
      width: 180px;
      background: #26a58a !important;
      border-radius: 0.7rem !important;
      color: white !important;
      font-size: 1rem !important;
    }
  }
}

/* mui */
.MuiFormControl-root label {
  color: black !important;
  font-weight: 100 !important;
}

.MuiFormControl-root input {
  color: black;
}

.MuiFormControl-root fieldset {
  border-color: #26a58a;
  border-radius: 0.7rem;
  border-width: 1px;
}

.MuiFormControl-root svg {
  fill: #26a58a;
}
