:root {
  --main-font-color: white;
  --main-outerBg-color: linear-gradient(
    90deg,
    rgba(205, 87, 156) 0%,
    rgba(108, 55, 107) 30%,
    rgba(108, 55, 107) 50%,
    rgba(86, 157, 189) 100%
  );
  --main-innerBg-color: black;
  --main-button-color: linear-gradient(
    -90deg,
    rgba(205, 87, 156) 0%,
    rgba(108, 55, 107) 30%,
    rgba(108, 55, 107) 50%,
    rgba(86, 157, 189) 100%
  );
  --accent-color: rgb(88, 215, 231);
  --secondary-color: rgb(255, 87, 171);
  --black-color: rgb(34, 34, 34);
}
@font-face {
  font-family: "RixYeoljeongdo_Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GangwonEduPowerExtraBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  position: relative;
  margin: 0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(
    90deg,
    rgba(205, 87, 156) 0%,
    rgba(108, 55, 107) 29%,
    rgba(108, 55, 107) 50%,
    rgba(86, 157, 189) 100%
  );*/
  /* background: linear-gradient(blue, pink); */
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60vw;
  min-width: 650px;
  height: 55vh;
  max-width: 800px;
  max-height: 450px;
  justify-content: space-between;
  /* padding: 20px; */
}
form > div {
  display: flex;
  justify-content: space-around;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgb(205, 87, 156);
  background: var(--main-outerBg-color);
}
.outer {
  top: 5vh;
  /* border: 1px solid white; */
  width: 90vw;
  height: 90vh;
  margin: auto;
  max-width: 1100px;
  max-height: 700px;
}
.inner {
  background: url("image/laptopBG.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: auto;
  height: 100%;
  /* width: 70vw; */
  /* overflow-y: scroll; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.header {
  /* display: inline; */
  text-align: left;
  width: 600px;
  margin: 0 auto 0;
}
h1 {
  color: var(--accent-color);
  font-family: GangwonEduPowerExtraBoldA;
  margin: 0;
  margin-top: 30px;
  font-size: 3rem;
  height: 55px;
  line-height: 4.5rem;
}
.header span {
  /* color: var(--accent-color); */
  font-size: 1.2rem;
  font-family: RixYeoljeongdo_Regular;
}

/* input */

.MuiFormControl-root label {
  color: white !important;
  font-weight: 100 !important;
}
.MuiFormControl-root input {
  color: white;
}
.MuiFormControl-root fieldset,
.sex,
#admission_type {
  border-color: var(--secondary-color);
  border-radius: 0.7rem;
  border-width: 1px;
  /* width: 300px; */
}
.MuiFormControl-root:focus .MuiFormControl-root fieldset {
  border-color: yellow;
}
.Mui-focused .MuiFormControl-root fieldset {
  color: red !important;
}
.MuiFormControl-root svg {
  fill: var(--main-font-color);
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline,
.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  /* border-color: var(--accent-color) !important; */
  border-width: 3px !important;
}
/* button */
/* .css-1e6y48t-MuiButtonBase-root-MuiButton-root, */
.result button,
form > button,
.css-1ujsas3 {
  background: var(--main-button-color) !important;
  color: white !important;
  padding: 10px 0 8px !important;
  margin: 5px auto !important;
  border-radius: 0.7rem !important;
  font-size: 1.3rem !important;
  font-family: RixYeoljeongdo_Regular !important;
  width: 180px;
}
.result button,
.result .css-1ujsas3 {
  margin: 5px 10px !important;
}
#formLabel {
  display: block;
  /* border: 1px solid red; */
  text-align: left;
  padding: 0 4rem;
}
.nameAndSex {
  width: 299px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 20px;
}

.sex {
  border: 1px solid var(--secondary-color);
  display: flex;
  justify-content: space-around;
  /* background: var(--main-outerBg-color); */
}
.sex > button {
  width: 50%;
  height: 100%;
  border-width: 0px;
  color: var(--main-font-color);
  font-weight: 400;
  background: transparent;
  cursor: pointer;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
}
.sex > button:nth-child(1),
#admission_type button:nth-child(1) {
  border-radius: 0.7rem 0 0 0.7rem;
}
.sex > button:nth-child(2),
#admission_type button:nth-child(2) {
  border-radius: 0 0.7rem 0.7rem 0;
}
#avgGpaForm,
#email {
  width: 270px;
  /* padding: 9px; */
}
#admission_type {
  border: 1px solid var(--secondary-color);
  width: 300px;
}
#admission_type button {
  color: var(--main-font-color);
  border: none;
  width: 50%;
  height: 100%;
  padding: 16.5px 14px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  cursor: pointer;
}

/* Result */
.result {
  height: 60vh;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Loading */
.Loading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(82, 82, 82);
  opacity: 0.7;
}

.indicator {
  position: relative;
  width: 80%;
  max-width: 400px;
  /* border: 1px solid red; */
  margin: 0 auto;
}

.indicator > img {
  /* position: absolute; */
  width: 100%;
}

#needle1 {
  position: absolute;
  bottom: 0em;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 140px solid var(--accent-color);
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 35%;
  transform-origin: center bottom;
}

.result-text {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 100;
  font-family: RixYeoljeongdo_Regular;
}

@media screen and (max-width: 750px) {
  .inner {
    width: 80vw;
    padding: 2%;
    height: 86vh;
    max-width: 320px;
    background: url("image/mobileBG.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .header {
    width: 300px;
    text-align: center;
  }
  h1 {
    font-size: 2.5rem;
    margin-top: 0;
    line-height: 5rem;
  }
  .header span {
    font-size: 1rem;
  }
  form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 290px;
    min-width: 0px;
    /* padding: 10px; */
    height: 70vh;
    max-height: 450px;
    justify-content: space-between;
    overflow-y: scroll;
  }
  form::-webkit-scrollbar {
    width: 2px;
  }

  form::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
  }
  form > div {
    display: flex;
    flex-direction: column;
  }
  form > div > div {
    margin: 15px auto !important;
  }
  form > div > .MuiFormControl-root fieldset {
    width: 230px;
  }
  .css-gcwvw8-MuiAutocomplete-root,
  .css-bvz20t,
  #admission_type {
    width: 250px !important;
  }
  .nameAndSex {
    width: 250px;
  }
  #avgGpaForm,
  #email {
    width: 222px;
    /* padding: 9px; */
  }
  /* button */
  .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    padding: 10px 88px 8px !important;
    font-size: 1rem !important;
  }

  .css-50bc2a-MuiAutocomplete-root,
  .css-gcwvw8-MuiAutocomplete-root,
  .css-feqhe6,
  .css-1kvlbxx {
    width: 250px !important;
  }

  /* result */

  #needle1 {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 90px solid var(--accent-color);
  }

  .result-text {
    font-size: 1rem;
  }
}
